{% extends "admin/base_site.html" %}
{% load sekizai_tags %}
{% load i18n l10n %}

{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
{% endaddtoblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>This action will create a new production lot</p>

        {{ form }}

        <div class="submit-row">
            <input class="default" type="submit" name="save" value="Save">
        </div>

    </form>
{% endblock %}